<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />
    <title>Vue Tickets</title>
  </head>

  <body>
    <div id="app" @keydown.esc="closeForm">
      <div class="header">
        <h1>Ticket System</h1>
        <p v-if="user">Welcome {{user.username}}<br><a href="#" @click="logout">Logout</a></p>
        <p v-else><a href="#" @click="toggleForm">Register or Login</a></p>
      </div>
      <transition v-if="showForm" name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <h1 class="modal-title">Register or Login</h1>
              </div>
              <div class="modal-body">
                <p v-if="error" class="error">{{error}}</p>
                <label>Username</label>
                <br>
                <input v-model="username">
                <br>
                <label>Password</label>
                <br>
                <input type="password" v-model="password">
              </div>
              <div class="modal-footer">
                <button @click="register" type="button">Register</button>
                <button @click="login" type="button" class="other">Login</button>
                <button @click="toggleForm" type="button" class="close">Close</button>
              </div>
            </div>
          </div>
        </div>
      </transition>
      <div class="content">
        <form @submit.prevent="addTicket">
          <input v-model="addedName" placeholder="Name"></p>
<textarea v-model="addedProblem"></textarea>
<br />
<button type="submit">Submit</button>
</form>

<h3>Tickets</h3>
<div v-for="ticket in tickets">
  <hr>
  <div class="ticket">
    <div class="problem">
      <p>{{ticket.problem}}</p>
      <p><i>-- {{ticket.name}}</i></p>
    </div>
    <div class="delete">
      <button @click="deleteTicket(ticket)" class="delete">Delete</button>
    </div>
  </div>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
<script src="/script.js"></script>
</body>

</html>
